// @font-face {
// 	font-family: Poppins;
// 	src: url(./assets/fonts/Poppins-Regular.ttf);
// 	font-weight: normal;
//   }

// @font-face {
// 	font-family: Poppins;
// 	src: url(./assets/fonts/Poppins-Bold.ttf);
// 	font-weight: 700;
// }

// @font-face {
// 	font-family: Poppins;
// 	src: url(./assets/fonts/Poppins-SemiBold.ttf);
// 	font-weight: 500;
// }

@font-face {
	font-family: OpenSans;
	src: url(./assets/fonts/OpenSans-Regular.ttf);
	font-weight: normal;
  }
 
@font-face {
	font-family: OpenSans;
	src: url(./assets/fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: OpenSans;
	src: url(./assets/fonts/OpenSans-SemiBold.ttf);
	font-weight: 500;
}




// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600;700&display=swap');
